#crumbs {
	height:2.3em;
	border:1px solid #dedede;
	font-size:1.3em;
	margin:0;
	}
	
#crumbs li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;
	list-style:none;
	}	

#crumbs li a {
	background:url(/images/ui/crumb.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 12px;
	}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}	

/*a:link, a:visited,	
#crumbs li a:hover,
#crumbs li a:focus {
	color:#dd2c0d;
	}*/