%h1 Hello, your demo site is almost ready!

%p
  Please visit
  = "#{@host}/demos/#{@demo.token}"

%h3 Where you will be able to  ... 

%ul
  %li 
    Select a phone number
    %small your brand new, free, programable number
  %li 
    Set your phone number 
    %small to be rung when a call comes in
  %li
    A subdomain
    %small where your site will live, eg you@mblz.com
  %li
    Create a password

%h2 
  Thank you, we hope you enjoy MBLZ!

%h3 The MBLZ team


