%form(action="/admin")
  %div{'data-role' => 'fieldcontain',  :class => 'clsSearch', :style => "text-align:center;display:#{display}"}
    %input(type='search' name='q' placeholder='sites and/or users' value="#{params[:q]}")
