.center{
  text-align:center;
}

span.yes_or_no.yes{
    color: teal;
}

span.yes_or_no.no{
    color: firebrick;
}
.ui-li-desc {
  white-space:normal;
}​

.jqm-block-content {
  margin: .5em;
  padding: 1em;
  background: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: .3125em;
  border-radius: .3125em;
  font-family: 'Open Sans', sans-serif;
}
.field_with_errors{
  color: firebrick;
}
/*
.marketing h2 {
  font-size: 40px;
}
table#pricing {
  width: 100%;
}
table#pricing th,
table#pricing td {
  text-align: center;
}
table#pricing td.first {
  text-align: right;
  font-weight: bold;
  width: 240px;
}
table#pricing .free {
  color: green;
  font-weight: bold;
  font-style: italic;
}
table#pricing td.recd {
  border-left: 1px solid #cfdbc5;
  border-right: 1px solid #cfdbc5;
}
table#pricing th.recd {
  border-left: 1px solid #cfdbc5;
  border-right: 1px solid #cfdbc5;
  border-top: 2px solid #cfdbc5;
}

ul li.ui-li-divider small{
  color:#999;
  font-weight:normal;
}

ul li.ui-li h3.ui-li-heading small{
  color:#666;
  font-weight:normal;
}

div.field_with_errors input{
  background:pink;
}
.hint{
  color: #999;
  font-size: 80%;
}
*/
